.promo {
  color: #FFF;
  background-color: #073042;
}

.promo__container {
  padding: 75px 70px 84px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.promo__title {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  max-width: 640px;
}

.promo__logo {
  align-self: flex-start;
}

.promo__text {
  margin: 0;
  font-size: 13px;
  line-height: normal;
  opacity: 0.5;
  max-width: 310px;
  padding-top: 36px;
}

@media screen and (max-width: 1085px) {
  .promo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px 44px 92px;
    gap: 0;
  }

  .promo__logo {
    order: -1;
    align-self: center;
  }

  .promo__title {
    max-width: 680px;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    padding-top: 48px;
  }

  .promo__text {
    padding-top: 22px;
    max-width: 260px;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 767px) {
  .promo__container {
    padding: 70px 10px 80px;
  }

  .promo__logo {
    width: 210px;
    height: 206px;
  }

  .promo__title {
    max-width: 300px;
    font-size: 30px;
    line-height: 38px;
    padding-top: 44px;
    letter-spacing: -1.2px;
  }

  .promo__text {
    padding-top: 24px;
  }

}