.search {
    margin: 70px 70px 47px;
}

.search__form {
    padding-bottom: 13px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 32px;
}

.search__label {
    display: flex;
    justify-content: space-between;
}

.search__input {
    padding: 0;
    border: 0;
    width: 90%;
    color: #A0A0A0;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    outline: none;
}

.search__input::placeholder {
    color: #A0A0A0;
}

.search__input:hover {
    outline: 1px solid #A0A0A0;
    border-radius: 10px;

}

.search__input:focus {
    outline: 1px solid #A0A0A0;
    border-radius: 10px;

}

.search__button {
    padding: 0;
    border: 0;
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    border-radius: 48px;
    background: #3456F3;
    width: 58px;
    height: 34px;
    cursor: pointer;
    transition: opacity .4s;
}

.search__button:hover {
    opacity: .7;
}

@media screen and (max-width: 900px) {
    .search {
        margin: 80px 30px 57px;
    }
}

@media screen and (max-width: 500px) {
    .search {
        margin: 84px auto 51px;
        display: flex;
        flex-direction: column;
        max-width: calc(320px - 28px);
    }

    .search__input {
        font-size: 18px;
        width: 75%;
    }

    .search__form {
        padding-bottom: 9px;
        margin-bottom: 41px;
    }
}